ul.type-list {
    list-style: none;
}

td.stat-container {
    width: 255px;
}

td.stat-container div {
    background-color: black;
    height: 20px;
}

.evo-item {
    padding-left: 40px;
    margin-top:16px;
    margin-bottom: 16px;
}

ul.evo-row {
    display: inline;
    list-style:none;
    padding: 0;
}

li.evo-element {
    padding: 8px;
    border: solid black;
    display: inline-block;
}

